source "https://rubygems.org"

# Stand-alone Sitepress server and compiler.
gem "sitepress", "~> <%= @target_sitepress_version %>"

# Server used for the Sitepress preview server.
gem "webrick"

# Templating engines. Under the hood Sitepress uses a slimmed
# down Rails, so rails templating engines should mostly work.
gem "haml-rails"
gem "sass-rails"
gem "markdown-rails"
