Gemfile.lock
**/pkg/
.sass-cache

gemfiles/*.gemfile.lock
gemfiles/.bundle

sitepress-rails/**/*.sqlite3
sitepress-rails/.bundle/
sitepress-rails/.yardoc
sitepress-rails/_yardoc/
sitepress-rails/coverage/
sitepress-rails/doc/
sitepress-rails/spec/reports/
sitepress-rails/spec/dummy/log/*
sitepress-rails/spec/dummy/tmp/*
sitepress-rails/tmp/

sitepress-server/rails/tmp/

sitepress-core/coverage

.ruby-version
.claude/
build/
