Gemfile.lock
**/pkg/

mascot-rails/.bundle/
mascot-rails/.yardoc
mascot-rails/_yardoc/
mascot-rails/coverage/
mascot-rails/doc/
mascot-rails/spec/reports/
mascot-rails/spec/dummy/log/*.log
mascot-rails/tmp/
