Gemfile.lock
**/pkg/
.sass-cache

gemfiles/*.gemfile.lock

sitepress-rails/**/*.sqlite3
sitepress-rails/.bundle/
sitepress-rails/.yardoc
sitepress-rails/_yardoc/
sitepress-rails/coverage/
sitepress-rails/doc/
sitepress-rails/spec/reports/
sitepress-rails/spec/dummy/log/*.log
sitepress-rails/tmp/

sitepress-core/coverage

.ruby-version
