<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Welcome to Sitepress</title>
    <link href='/stylesheets/site.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
