body {
  font-family: sans-serif;
  margin: 2rem;
  padding: 0;
  background: hsl(23,39%,26%);
  color: #fefefe;
}

main {
  color: #000;
  background: #fefefe;
  padding: 2rem;
  border-radius: 0.5rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

#logo {
  max-width: 4rem;
  max-height: 4rem;
}

#title {
  margin-left: 1rem;
}

footer {
  margin: 4rem 1rem;
  text-align: center;
}
footer a {
  color: #fefefe;
}

pre {
  overflow: scroll;
}

code {
  display: block;
  color: #000;
  background: hsl(23,39%,90%);
  padding: 1rem;
  border-radius: 0.5rem;
}

h2, a {
  color: hsl(23,39%,26%);
}

h3 {
  color: hsl(23,39%,5%);
}

table td, table th {
  text-align: left;
  padding: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  h2, a {
    color: hsl(23,39%,90%);
  }

  h3 {
    color: hsl(23,39%,85%);
  }

  main {
    color: hsl(23,39%,85%);
    background: hsl(23,39%,10%);
  }

  code {
    color: hsl(23,39%,85%);
    background: hsl(23,39%,7%);
  }
}

