<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= @title || "Sitepress" %></title>
    <link href='/_sitepress/stylesheets/site.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <img src='/_sitepress/images/logo.svg' id='logo'>
      <h1 id="title"><%= @title || "Sitepress" %></h1>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
  <footer>
    Running version Sitepress <%= Sitepress::VERSION %>. Visit <a href="https://sitepress.cc/">sitepress.cc</a> for documentation, help, and updates.
  </footer>
</html>
