<h2>Available resources</h2>
<table>
  <thead>
    <th>Request path</th>
    <th>Asset path</th>
    <th>Mime type</th>
  </thead>
  <tbody>
    <% site.resources.each do |resource| %>
      <tr>
        <td><%= link_to resource.request_path, resource.request_path %></td>
        <td><%= resource.asset.path %></td>
        <td><%= resource.asset.mime_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
